.flowers{
    background-image: url("../../assets/images/flowers-page.jpg");

    h2{
        font-family: "Roboto medium";
    }

    p{
        font-family: "Inter medium";
    }

    button{
        background-color: #595CFF;
        

        p{
            font-family: "Inter medium";
        }
    }
}

.carousel_flower{
    margin-top: 40px;
    background-image: url("../../assets/images/flowers-page.jpg"); 
}